@{
    ViewBag.Title = "Home";
}

<style>
    /* Style for the header */
    h1 {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 36px;
        color: #333; /* Change the color as desired */
        margin-top: 20px; /* Adjust the top margin as needed */
    }

    /* Style for the image */
    .bank-image {
        display: block;
        margin: 0 auto; /* Center the image horizontally */
        max-width: 100%; /* Ensure the image doesn't exceed its container */
        height: auto; /* Maintain aspect ratio */
        max-height: 500px; /* Set a maximum height for the image */
        border-radius: 10px; /* Add rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }
</style>

<div>
    <h1>ОАО "Лучший банк на свете"</h1>
</div>

<div class="row">
    <img src="../../Images/sustainable-investment-iStock-1470939758.jpg" alt="Bank Image" class="bank-image">
</div>
