.error-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный черный цвет, чтобы создать эффект затемнения */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Тень для создания эффекта всплывающего окна */
  }
  
  .error-modal button {
    margin-top: 10px;
  }