.error-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;
  background-color: #fff; /* Прозрачный черный цвет, чтобы создать эффект затемнения */
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для создания эффекта всплывающего окна */
  max-width: 400px;
  width: 80%;
  text-align: center;
}

.error-modal p {
  margin-bottom: 20px;
  color: #333;
}

.error-modal button {
  background-color: #e74c3c; /* Цвет кнопки Close */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.error-modal button:hover {
  background-color: #c0392b; /* Измененный цвет при наведении */
}