.table-container {
    width: 75%;
    position: fixed; 
}

.data-list {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ccc;
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; 
}


.data-list th {
    background-color: #ddd; 
    color: #333; 
}

.data-list td {
    background-color: #fff; /* Белый цвет фона ячеек */
    color: #333; /* Цвет текста ячеек */
}


.edit-btn, .delete-btn {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
}

.delete-btn {
    background-color: #e74c3c;
}

