@{
    ViewBag.Title = "Банк";
}

<h2>Банк</h2>
<div>
    <div>
        <h4>Счета</h4>
        <div>
            <p>
                <a href="@Url.Action("AccountReport")">Перейти на страницу счетов</a>
            </p>
        </div>
    </div>
</div>

<div>
    <div>
        <h4>Операции закрытия</h4>
        <div>
            @using (Html.BeginForm("CloseBankDay", "Bank"))
            {
                <button type="submit">Закрыть банковский день</button>
            }
        </div>
        <div>
            @using (Html.BeginForm("CloseBankMonth", "Bank"))
            {
                <button type="submit">Закрыть банковский месяц</button>
            }
        </div>
        <div>
            @using (Html.BeginForm("CloseBankYear", "Bank"))
            {
                <button type="submit">Закрыть банковский год</button>
            }
        </div>
    </div>
</div>
